.odontologos-header {
  background-color: #004a6e;
}

.formulario-odontologos input,
.formulario-odontologos select {
  border-radius: 0.25rem;
}

.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-primary:hover {
  background-color: #084cd9;
  border-color: #084cd9;
}

.card-title.text-primary {
  color: #0d6efd;
}

.card-footer button i {
  margin-right: 0.3rem;
}
